@import "tailwindcss";

@theme {
  --color-noddy-pink: #FFB7B2;
  --color-noddy-blue: #AEC6CF;
  --color-noddy-cream: #FDFD96;
  --color-noddy-text: #4A4A4A;
  --color-noddy-bg: #F9F9F9;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-noddy-bg);
  color: var(--color-noddy-text);
  font-family: var(--font-sans);
}